<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warehouse</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
      body {
        font-family: "Poppins";
      }
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .center-box {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .link {
        font-weight: 400;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        color: #000;
        text-decoration: none;
        margin: 0 1rem;
      }

      a:hover {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.7rem;
        transition: all 0.2s ease-in-out;
      }

      .app {
        color: #fff;
      }
      .app:hover {
        color: #000;
      }
    </style>
  </head>
  <body>
    <h1>
      <div class="center-box">
        <div class="link">
          <a href="https://warehousetubeseai.docs.apiary.io/">Go to API Docs</a>
          <a href="/app/home" class="app">Go to App</a>
        </div>
      </div>
    </h1>
  </body>
</html>
