@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

.judul h1 {
  color: rgb(119, 119, 119);
  font-weight: 800;
  font-size: 6.3rem;
}

.judul {
  margin-top: 15rem;
}

.menu {
  margin-top: 6rem;
  padding: 0 8rem;
}

.kotak {
  background: rgb(119, 119, 119);
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}

.box {
  width: 11rem;
  height: 16rem;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(204, 204, 204);
}

.box:hover {
  text-decoration: none;
  background: #ffdf93;
  color: #000;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.box:hover .innerbox img {
  opacity: 0.8;
}

.box:hover .innerbox {
  border: none;
}

.innerbox {
  width: 85%;
  height: 55%;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid rgb(230, 230, 230);
  background: #fff;
}

.innerbox img {
  opacity: 0.4;
}

.judul-menu h1 {
  font-weight: 800;
  font-size: 3.3rem;
}

.table {
  width: 90%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 0.7rem;
}

.table-responsive {
  height: 40rem;
  margin-top: 1rem;
}

.tab-row {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
}

.tab-row .loc {
  width: 25rem;
}

.tab-row td {
  height: 5rem;
  vertical-align: middle;
}

.table th,
.table td {
  border: none !important;
  box-shadow: none !important;
}

.table th {
  color: rgba(0, 0, 0, 0.397);
}

.table-responsive::-webkit-scrollbar {
  width: 0.25rem;
  background: transparent !important;
}

.table-responsive ::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #dddddd;
}

.add-btn,
.ant-btn {
  background: #0077b6;
  color: #fff;
  font-weight: 600;
  display: block;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.ant-btn {
  background: #ffb703;
}

.add-btn:hover,
.ant-btn:hover {
  background: #078cd3;
  text-decoration: none;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.1s ease-out;
}

.ant-btn:hover {
  background: #ffb909;
}

#del-btn,
.edit-btn {
  border: none;
  padding: 0.5rem;
  background: #e63946;
  border-radius: 0.3rem;
  margin: 0.5rem 0.3rem;
  color: #fff;
}

#del-btn:hover {
  background: #cf2f3c;
}

.edit-btn {
  background: #ffb703;
}

.edit-btn:hover {
  text-decoration: none;
  background: #e6a400;
}

#del-btn img,
.edit-btn img {
  width: 1.3rem;
  pointer-events: none;
}

.big-box {
  margin: 5rem auto 0 auto;
  width: 80%;
  min-height: 28.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.126);
  padding: 2rem;
  background: #fff;
}

.form label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.349);
}

.click-btn {
  border: none;
  position: relative;
  padding: 0.6rem 3.5rem;
  border-radius: 0.4rem;
  background: #4c88fd;
  color: #fff;
}

.loading,
.message {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  font-weight: 500;
}

.click-btn:hover {
  background: #407aec;
  font-weight: 600;
}

.restock-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  background: red;
  transition: all 0.5s ease-in;
}
