@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #f9f9f9;
}

.judul h1 {
  color: rgb(119, 119, 119);
  font-weight: 800;
  font-size: 6.3rem;
}

.judul {
  margin-top: 15rem;
}

.menu {
  margin-top: 6rem;
  padding: 0 8rem;
}

.kotak {
  background: rgb(119, 119, 119);
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}

.box {
  width: 11rem;
  height: 16rem;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(204, 204, 204);
}

.box:hover {
  text-decoration: none;
  background: #ffdf93;
  color: #000;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.innerbox {
  width: 85%;
  height: 55%;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid rgb(230, 230, 230);
  background: #fff;
}

.innerbox img {
  opacity: 0.4;
}

.judul-menu h1 {
  font-weight: 800;
  font-size: 3.3rem;
}

.tab-head::-webkit-scrollbar {
  height: 0.25rem;
  background: transparent !important;
}

.tab-head ::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.tab-head::-webkit-scrollbar-thumb {
  background: #dddddd;
}

.add-btn {
  background: #0077b6;
  color: #fff;
  font-weight: 600;
  display: block;
  padding: 1rem;
  border-radius: 0.6rem;
}

.add-btn:hover {
  background: #078cd3;
  text-decoration: none;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.1s ease-out;
}
